.file-node {
  cursor: pointer;
  width: fit-content;
}

.file-node .folder,
.file-node .file {
  padding: 4px;
}

.file-node .folder {
  color: blue;
}

.file-node .file {
  color: black;
}

.level-1 {
  margin-left: 20px;
}

.level-2 {
  margin-left: 40px;
}

.level-3 {
  margin-left: 60px;
}

.file-content {
  width: fit-content;
}